window {
    margin: 0px;
    border: 1px solid black;
    background-color: #242424;
}

#input {
    margin: 5px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #242424;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #242424;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
} 

#entry.activatable #text {
    /* background-color: #303030; */
    color: white;
}

#entry.activatable {
    background-color: #303030;
    color: white;
}

#entry > * {
    color: white;
}

#entry:selected {
    background-color: #303030;
}

#entry:selected #text {
    font-weight: bold;
}